<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinhlap.menu.power">
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_power"
        android:label="@string/app_name"
        android:isAccessibilityTool="true"
        android:roundIcon="@drawable/ic_power"
        android:supportsRtl="true"
        android:noHistory="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".Reboot"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".MenuPower"
            android:theme="@style/AppThemeTranslucent"
            android:configChanges="locale"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PowerMenuService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service" />
        </service>
    </application>

</manifest>